:root {
    --theme-color: #6cacc5;
}

html {
    background: #100a1c;
    background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    background-attachment: fixed;
    color: var(--theme-color);
}

body {
    color: var(--theme-color);
    font: 300 18px/1.6 "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
}

h1 {
    font-weight: 300;
    margin: 0;
}

.warning {
    background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8c5059;
    font-weight: 400;
    margin: 1.5em auto 5em;
    max-width: 8em;
  }

.calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 10em;

    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

.viewer {
    color: #c97874;
    float: left;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 7.5em;
    height: 3em;
}



button {
    border: 0;
    background: rgba(42, 50, 113, .28);
    color: #6cacc5;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
}

.broken {
    animation: broken 2s;
    transform: translate3d(0, 2000px, 0);
    opacity: 1;
}

.reset {
    display: none;
}

@keyframes broken {
    0% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

    5% {
        transform: rotate(5deg);
    }

    15% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-5deg);

    }

    50% {
        transform: rotate(45deg);
        opacity: 1;
    }

    70% {
        transform: translate3d(0, -200px,0);
    }

    75% {
        opacity: 1;
    }
    
    // Why is it not going all the way down?
    100% {
        transform: translateY(2000px);
    }
}

@keyframes fadein {
    0% {
        top: 20em;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}