.carousel {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
}

.carousel__track-container {
    background: lightgreen;
    padding: 10px;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.reference {
    display: block;
    position: absolute;
    bottom: 10%
}