.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.reference {
    display: block;
    position: relative;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
}