.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

button.accordian {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordian::after {
    content: '\f107';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

button.accordian:hover {
     background-color: #ddc;
}

.accordian-content {
    padding: 0 20px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

