.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

button.accordion {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordion:hover {
     background-color: #ddc;
}