.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 250ms ease-in;
}

.reference {
    display: block;
    position: relative;
    transform: translateY(+200%);
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 10px;
}

.carousel__nav {
    /* background: pink; */
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin: 12px;
    background: black;
}

.carousel__indicator.current-slide {
    background: rgba(71, 59, 82, 0.55);
    color: rgba(71, 59, 82, 0.55);
}