*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
}

body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
}

.content {
    background: white;
    width: 70vw;
    padding: 3em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.search-bar {
    border: 2px solid var(--clr-primary);
    display: flex;
    
    &__input {
        flex-grow: 1;
        font-size: 1.5rem;
    }
}