* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/drop-down-menu.jpg);
    background-size: cover;
}

nav {
    width: 100%;
    height: 60%;
    background-color: #fff;
}

nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
}